body {
  background: #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 2%,
    rgba(74, 74, 74, 1) 50%,
    rgba(110, 110, 110, 1) 100%
  );
}

.top {
  margin-top: 100px;
}

h1 {
  color: #ededed;
  font-family: "abril fatface, serif";
  text-align: center;
  font-size: 9em;
  margin: 0;
  text-shadow: -1px 0 #bfc0c0 0 1px #bfc0c0 1px 0 #bfc0c0 0 1px #bfc0c0;
}

h3 {
  color: #bfc0c0;
  font-family: "lato", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  margin-top: -20px;
  font-weight: 900;
}

p {
  color: #ededed;
  text-align: center;
  font-family: "lato", sans-serif;
  font-size: 0.9em;
  margin-top: -20px;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.btn {
  background: #ededed;
  color: #585959;
  font-size: 0.8em;
  padding: 15px 20px;
  margin: 5px;
  font-family: "lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
}
