body {
    font-family:'Courier New', Courier, monospace ;
    background-color: #fdfcfb;
    margin: 0;
    padding: 2;
}

#descuentos {
    background-color: #888586;
    padding: 30px;
    max-width: 950px;
    margin: 40px auto;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(194, 139, 148, 0.1);
}

#descuentos h1 {
    text-align: center;
    color: #b3b0af;
    margin-bottom: 35px;
}

#descuentos > p {
    text-align: center;
    color: #223738;
    margin-bottom: 35px;
}

.producto {
    border: 1px solid #ddd;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #9c9393;
}

.producto h2 {
    color: #333;
}

.descripcion {
    font-style: italic;
    color: #444343;
}

.precio-original {
    text-decoration: line-through;
    color: #221e1e;
    margin-top: 10px;
}

.descuento-efectivo {
    color: rgb(92, 107, 92);
    font-weight: bold;
}

.descuento-naranja {
    color: #e67e22;
    font-weight: bold;
}
